<app-header></app-header>
<div class="container">
    <div class="confirmation-container">
        <h1>This is Order Confirm Page</h1>
        <p>Thanks for ordering our products! This is your detail information. Check it out!</p>
    </div>
    <div class="row">
        <table>
            <thead>
                <th scope="col" class="text-start">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total price</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="product-info">
                            <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=600"
                                class="product-image" />
                            <span class="product-name">Product name</span>
                        </div>
                    </td>
                    <td>1</td>
                    <td>100.000 VND</td>
                    <td>200.000 VND</td>
                </tr>
                <tr>
                    <td>
                        <div class="product-info">
                            <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=600"
                                class="product-image" />
                            <span class="product-name">Product name</span>
                        </div>
                    </td>
                    <td>1</td>
                    <td>100.000 VND</td>
                    <td>200.000 VND</td>
                </tr>
                <tr>
                    <td>
                        <div class="product-info">
                            <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=600"
                                class="product-image" />
                            <span class="product-name">Product name</span>
                        </div>
                    </td>
                    <td>1</td>
                    <td>100.000 VND</td>
                    <td>200.000 VND</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center mt-3">
            <button class="btn btn-gradient" type="button">Continue to shopping</button>
        </div>
    </div>
</div>
<app-footer></app-footer>